<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">##################</font>
<font color="white">##  </font><font color="Yellow">Vehicle Morphs</font><font color="white">  ##</font>
<font color="white">##################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<font color="red">Note the Flying Vehicle Morphs are cosmetic only as in they dont allow you to fly (yet)</font>

<font color="white">Boards</font>

<a href="chatcmd:///set 359 270486">Hoverboard B Texture 2 Atrox</a>

<font color="white">Bikes</font>

<a href="chatcmd:///set 359 270707">Hoverbike B Texture 2 Atrox</a>
<a href="chatcmd:///set 359 273465">Hoverbike C Texture 7 Atrox</a>
<a href="chatcmd:///set 359 269462">Hoverbike B Solitus Male</a>

<font color="white">Yalms</font>

<a href="chatcmd:///set 359 203157">Yalmaha - Executive</a>
<a href="chatcmd:///set 359 203158">Yalmaha - Cooler</a>
<a href="chatcmd:///set 359 203159">Yalmaha - Flaming</a>
<a href="chatcmd:///set 359 203160">Yalmaha - Second Flaming</a>
<a href="chatcmd:///set 359 203161">Yalmaha - Regular</a>
<a href="chatcmd:///set 359 203405">Yalmaha - Sleek Red</a>
<a href="chatcmd:///set 359 203406">Yalmaha - Sleek Yellow</a>
<a href="chatcmd:///set 359 254917">Yalmaha - Sunrise</a>
<a href="chatcmd:///set 359 254918">Yalmaha - Daylight</a>
<a href="chatcmd:///set 359 254919">Yalmaha - Sunset</a>
<a href="chatcmd:///set 359 254920">Yalmaha - Dusk</a>
<a href="chatcmd:///set 359 254921">Yalmaha - Pearl</a>
<a href="chatcmd:///set 359 254922">Yalmaha - Obsidian</a>

<font color="white">Mantas</font>

<a href="chatcmd:///set 359 204168">Manta Neo Ground Vehicle</a>
<a href="chatcmd:///set 359 204169">Manta Sportline Ground Vehicle</a>
<a href="chatcmd:///set 359 204170">Manta Avi Ground Vehicle</a>

<font color="white">Mechs</font>

<a href="chatcmd:///set 359 262344">Pre-Order Mech - Atrox</a>
<a href="chatcmd:///set 359 262345">Pre-Order Mech - Opifex Female</a>
<a href="chatcmd:///set 359 262342">Pre-Order Mech - Opifex Male</a>
<a href="chatcmd:///set 359 262340">Pre-Order Mech - Solitus Female</a>
<a href="chatcmd:///set 359 262339">Pre-Order Mech - Solitus Male</a>

<a href="chatcmd:///set 359 262374">Pre-Order Mech - Upgraded - Atrox</a>
<a href="chatcmd:///set 359 266336">Pre-Order Mech - Upgraded - Opifex Female</a>
<a href="chatcmd:///set 359 266272">Pre-Order Mech - Upgraded - Opifex Male</a>
<a href="chatcmd:///set 359 266241">Pre-Order Mech - Upgraded - Solitus Female</a>
<a href="chatcmd:///set 359 262429">Pre-Order Mech - Upgraded - Solitus Male</a>
<a href="chatcmd:///set 359 267048">Pre-Order Mech Boss - Solitus Male</a>

<a href="chatcmd:///set 359 264900">Scout Mech - Atrox</a>
<a href="chatcmd:///set 359 265938">Scout Mech - Opifex Female</a>
<a href="chatcmd:///set 359 265937">Scout Mech - Opifex Male</a>
<a href="chatcmd:///set 359 265936">Scout Mech - Solitus Female</a>
<a href="chatcmd:///set 359 265935">Scout Mech - Solitus Male</a>

<a href="chatcmd:///set 359 265822">Scout Mech - Upgraded - Atrox</a>
<a href="chatcmd:///set 359 265948">Scout Mech - Upgraded - Opifex Female</a>
<a href="chatcmd:///set 359 265928">Scout Mech - Upgraded - Opifex Male</a>
<a href="chatcmd:///set 359 265946">Scout Mech - Upgraded - Solitus Female</a>
<a href="chatcmd:///set 359 265427">Scout Mech - Upgraded - Solitus Male</a>

<a href="chatcmd:///set 359 263856">Heavy Mech - Test</a>
<a href="chatcmd:///set 359 265929">Heavy Mech - Atrox</a>
<a href="chatcmd:///set 359 265872">Heavy Mech - Opifex Female</a>
<a href="chatcmd:///set 359 265859">Heavy Mech - Opifex Male</a>
<a href="chatcmd:///set 359 262347">Heavy Mech - Solitus Female</a>
<a href="chatcmd:///set 359 262346">Heavy Mech - Solitus Male</a>

<a href="chatcmd:///set 359 265931">Heavy Mech - Upgraded - Atrox</a>
<a href="chatcmd:///set 359 265923">Heavy Mech - Upgraded - Opifex Female</a>
<a href="chatcmd:///set 359 265926">Heavy Mech - Upgraded - Opifex Male</a>
<a href="chatcmd:///set 359 267243">Heavy Mech - Upgraded - Solitus Female NPC </a>
<a href="chatcmd:///set 359 265930">Heavy Mech - Upgraded - Solitus Female</a>
<a href="chatcmd:///set 359 265925">Heavy Mech - Upgraded - Solitus Male</a>

<font color="white">Other</font>

<a href="chatcmd:///set 359 99456">Hover Boat Ferry</a>
<a href="chatcmd:///set 359 99468">Light One-Man Sportscraft</a>
<a href="chatcmd:///set 359 99469">Omni-Pol Gunship</a>
<a href="chatcmd:///set 359 99470">sleek vehicle</a>
