<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">###################</font>
<font color="white">##     </font><font color="Yellow">Rubi-Ka Zones </font><font color="white">     ##</font>
<font color="white">###################</font>

<a href="chatcmd:///teleport 926 744 y 135 4582">ICC Shuttleport The Nubi-Island</a>

<a href="chatcmd:///teleport 456 329 y 135 500">Parnassos GM playfield</a>

<a href="chatcmd:///teleport 706 791 y 135 501">Parnassos Island of Ceremony ARK playfield</a>

<a href="chatcmd:///teleport 2070 3760 y 135 505">Avalon Avalon</a>

<a href="chatcmd:///teleport 515 571 y 135 540">Old Athen Old Athen</a>

<a href="chatcmd:///teleport 473 407 y 135 545">Athen West Athen West</a>

<a href="chatcmd:///teleport 2061 1218 y 135 550">Athen Shire Athen Shire</a>

<a href="chatcmd:///teleport 1356 1734 y 135 551">Wailing Wastes Wailing Wastes</a>

<a href="chatcmd:///teleport 1394 1511 y 135 556">Coast of Peace Coast of Peace</a>

<a href="chatcmd:///teleport 1923 1249 y 135 560">Mort Mort</a>

<a href="chatcmd:///teleport 2203 1568 y 135 565">Newland Desert Newland Desert</a>

<a href="chatcmd:///teleport 391 315 y 135 566">Newland City Newland City</a>

<a href="chatcmd:///teleport 1172 482 y 135 567">Newland Newland</a>

<a href="chatcmd:///teleport 1036 2216 y 135 570">Perpetual Wastelands Perpetual Wastelands</a>

<a href="chatcmd:///teleport 672 949 y 135 585">Aegean Aegean</a>

<a href="chatcmd:///teleport 767 524 y 135 586">Wartorn Valley Wartorn Valley</a>

<a href="chatcmd:///teleport 1176 996 y 135 590">Central Artery Valley Central Artery Valley</a>

<a href="chatcmd:///teleport 1327 2322 y 135 595">Deep Artery Valley Deep Artery Valley</a>

<a href="chatcmd:///teleport 2484 2107 y 135 600">Varmint Woods Varmint Woods</a>

<a href="chatcmd:///teleport 2158 2317 y 135 605">Belial Forest Belial Forest</a>

<a href="chatcmd:///teleport 1133 2321 y 135 610">Southern Artery Valley Southern Artery Valley</a>

<a href="chatcmd:///teleport 1588 2130 y 135 615">Southern Fouls Hills Southern Fouls Hills</a>

<a href="chatcmd:///teleport 610 1370 y 135 620">Eastern Fouls Plains Eastern Fouls Plains</a>

<a href="chatcmd:///teleport 2060 643 y 135 625">Milky Way Milky Way</a>

<a href="chatcmd:///teleport 1249 2318 y 135 630">Central Artery Valley Central Artery Valley</a>

<a href="chatcmd:///teleport 798 1620 y 135 635">Stret East Bank Stret East Bank</a>

<a href="chatcmd:///teleport 546 535 y 135 640">Tir Tir</a>

<a href="chatcmd:///teleport 614 455 y 135 641">Tir Arena Tir Arena</a>

<a href="chatcmd:///teleport 2253 831 y 135 646">Tir County Tir County</a>

<a href="chatcmd:///teleport 1905 2263 y 135 647">Greater Tir County Greater Tir County</a>

<a href="chatcmd:///teleport 1175 1045 y 135 650">Upper Stret East Bank Upper Stret East Bank</a>

<a href="chatcmd:///teleport 3244 829 y 135 655">Andromeda Andromeda</a>

<a href="chatcmd:///teleport 1352 1641 y 135 656">Coast of Tranquility Coast of Tranquility</a>

<a href="chatcmd:///teleport 645 1314 y 135 665">Broken Shores Broken Shores</a>

<a href="chatcmd:///teleport 1053 4024 y 135 670">Clondyke Clondyke</a>

<a href="chatcmd:///teleport 1418 1093 y 135 685">Galway County Galway County</a>

<a href="chatcmd:///teleport 201 876 y 135 687">Galway Shire Galway Shire</a>

<a href="chatcmd:///teleport 1445 663 y 135 695">Lush Fields Lush Fields</a>

<a href="chatcmd:///teleport 885 949 y 135 696">Mutant Domain Mutant Domain</a>

<a href="chatcmd:///teleport 604 471 y 135 700">Omni-1 HQ Omni-1 HQ</a>

<a href="chatcmd:///teleport 878 577 y 135 705">Omni-1 Entertainment Omni-1 Entertainment</a>

<a href="chatcmd:///teleport 175 218 y 135 706">Omni Entertainment Arena Omni Entertainment Arena</a>

<a href="chatcmd:///teleport 408 574 y 135 710">Omni-1 Trade Omni-1 Trade</a>

<a href="chatcmd:///teleport 232 2305 y 135 716">Omni Forest Omni Forest</a>

<a href="chatcmd:///teleport 1473 2054 y 135 717">Greater Omni Forest Greater Omni Forest</a>

<a href="chatcmd:///teleport 252 318 y 135 730">Rome Red district Rome Red district</a>

<a href="chatcmd:///teleport 540 186 y 135 735">Rome Blue district Rome Blue district</a>

<a href="chatcmd:///teleport 418 185 y 135 740">Rome Green district Rome Green district</a>

<a href="chatcmd:///teleport 869 1620 y 135 760">4 Holes 4 Holes</a>

<a href="chatcmd:///teleport 1277 2890 y 135 790">Stret West Bank Stret West Bank</a>

<a href="chatcmd:///teleport 379 756 y 135 791">Holes In the Wall Holes In the Wall</a>

<a href="chatcmd:///teleport 2060 720 y 135 795">The Longest Road The Longest Road</a>

<a href="chatcmd:///teleport 635 726 y 135 800">Borealis City Borealis City</a>
