<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">################</font>
<font color="white">##     </font><font color="Yellow">SL Zones </font><font color="white">     ##</font>
<font color="white">################</font>

<a href="chatcmd:///teleport 324 449 y 135 4313">the research and training biosphere SL Nubi-Area</a>

<a href="chatcmd:///teleport 843 906 y 135 4001">Jobe Research Jobe Nubi-City</a>

<a href="chatcmd:///teleport 195 167 y 10 4327">Jobe Standard Appartement</a>

<a href="chatcmd:///teleport 292 612 200 y 135 4530">Jobe Platform Jobe playfield</a>

<a href="chatcmd:///teleport 153 293 286 y 135 4531">the Harbor Jobe playfield</a>

<a href="chatcmd:///teleport 403 487 368 y 135 4532">the Market Jobe playfield</a>

<a href="chatcmd:///teleport 190 276 481 y 135 4533">the Plaza Jobe playfield</a>

<a href="chatcmd:///teleport 274 274 305 y 135 4534">The Jobe Luxury Appartement</a>

<a href="chatcmd:///teleport 808 1192 y 135 4310">Nascense Frontier Central Nascence</a>

<a href="chatcmd:///teleport 225 1802 y 135 4311">Nascense Wilds West side of Nascence</a>

<a href="chatcmd:///teleport 1690 1130 y 135 4312">Nascense Swamp East side of Nascence</a>

<a href="chatcmd:///teleport 1000 1000 y 135 4540">South Elysium Southern part of Elysium</a>

<a href="chatcmd:///teleport 430 1168 y 135 4541">West Elysium Western part of Elysium</a>

<a href="chatcmd:///teleport 1014 1196 y 135 4542">Elysium Central part of Elysium</a>

<a href="chatcmd:///teleport 991 632 y 135 4543">Eastern Elysium Eastern part of Elysium</a>

<a href="chatcmd:///teleport 1310 1047 y 135 4544">Northern Elysium Northern part of Elysium</a>

<a href="chatcmd:///teleport 1191 134 y 135 4880">Upper Scheol First half of Scheol</a>

<a href="chatcmd:///teleport 1053 1251 y 135 4881">Lower Scheol Second half of Scheol, leading to Ado</a>

<a href="chatcmd:///teleport 1919 525 y 135 4872">Adonis City The surface part of Ado.</a>

<a href="chatcmd:///teleport 1863 1522 y 135 4873">Adonis Abyss The underwater part of Ado. Don't jump too high or you end up swimming on the surface.</a>

<a href="chatcmd:///teleport 1164 1044 y 135 4320">Penumbra Hollows The west side of Penumbra</a>

<a href="chatcmd:///teleport 2491 1388 y 135 4321">Penumbra Valley The east side of Penumbra</a>

<a href="chatcmd:///teleport 1943 1005 y 135 4322">Penumbra Hollows The middle part of Penumbra</a>

<a href="chatcmd:///teleport 1000 1000 y 135 4006">Penumbra Forest West side of Penumbra</a>

<a href="chatcmd:///teleport 825 181 y 135 4605">Inferno The Inferno playfield</a>

<a href="chatcmd:///teleport 828 180 y 135 4005">Burning Marshes South of Inferno</a>

<a href="chatcmd:///teleport 232 115 y 135 4328">Pandemonium Caina Pandemonium (the one we know and raid, I think all three versions are in use though)</a>

<a href="chatcmd:///teleport 151 64 y 5 4331">Beast Lair</a>

Gardens
######

<a href="chatcmd:///teleport 329 452 y 135 4676">The Garden of Aban Clan Nascence Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4677">The Garden of Thrak Omni Nascence Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4678">The Garden of Enel Clan Elysium Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4679">Enel's Sanctuary Clan Elysium Sanctuary</a>

<a href="chatcmd:///teleport 462 409 y 135 4680">The Garden of Shere Omni Elysium Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4681">Shere's Sanctuary Omni Elysium Sanctuary</a>

<a href="chatcmd:///teleport 329 452 y 135 4682">The Garden of Ocra Clan Scheol Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4683">The Garden of Roch Omni Scheol Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4684">The Garden of Gilthar Clan Adonis Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4685">Gilthar's Sanctuary Clan Adonis Sanctuary</a>

<a href="chatcmd:///teleport 462 409 y 135 4686">The Garden of Dalja Omni Adonis Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4687">Dalja's Sanctuary Omni Adonis Sanctuary</a>

<a href="chatcmd:///teleport 329 452 y 135 4688">The Garden of Cama Clan Penumbra Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4689">Cama's Sanctuary Clan Penumbra Sanctuary</a>

<a href="chatcmd:///teleport 462 409 y 135 4690">The Garden of Vanya Omni Penumbra Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4691">Vanya's Sanctuary Omni Penumbra Sanctuary</a>

<a href="chatcmd:///teleport 329 452 y 135 4692">The Garden of Lord Galahad Clan Inferno Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4693">Lord Galahad's Sanctuary Clan Inferno Sanctuary</a>

<a href="chatcmd:///teleport 462 409 y 135 4694">The Garden of Lord Mordeth Omni Inferno Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4695">Lord Mordeth's Sanctuary Omni Inferno Sancturay</a>

<a href="chatcmd:///teleport 329 452 y 135 4696">Garden of Redeemed Pandemonium Clan Pande Garden</a>

<a href="chatcmd:///teleport 462 409 y 135 4697">Garden of unredeemed Pandemonium Omni Pande Garden</a>

<a href="chatcmd:///teleport 329 452 y 135 4698">Garden of Redeemed Scheol2 Clan Scheol Sanctuary</a>

<a href="chatcmd:///teleport 462 409 y 135 4699">Garden_of_unredeemed Scheol2 Omni Scheol Sanctuary</a>