<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">########################</font>
<font color="white">##  </font><font color="Yellow">OFAB & Dreadloch Weapons</font><font color="white"> ##</font>
<font color="white">########################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

2H Blunt
#######

<font color="green">Ofab Bear MK 1</font> <a href="chatcmd:///command giveitem %t 265237 265237 1">1</a> <a href="chatcmd:///command giveitem %t 265238 265238 99">99</a> <a href="chatcmd:///command giveitem %t 265239 265239 100">100</a> <a href="chatcmd:///command giveitem %t 265240 265240 199">199</a> <a href="chatcmd:///command giveitem %t 265241 265241 200">200</a> <a href="chatcmd:///command giveitem %t 265242 265242 299">299</a> <a href="chatcmd:///command giveitem %t 265243 265243 300">300</a>
<font color="green">Ofab Bear MK 2</font> <a href="chatcmd:///command giveitem %t 265244 265244 1">1</a> <a href="chatcmd:///command giveitem %t 265245 265245 99">99</a> <a href="chatcmd:///command giveitem %t 265246 265246 100">100</a> <a href="chatcmd:///command giveitem %t 265247 265247 199">199</a> <a href="chatcmd:///command giveitem %t 265248 265248 200">200</a> <a href="chatcmd:///command giveitem %t 265249 265249 299">299</a> <a href="chatcmd:///command giveitem %t 265250 265250 300">300</a>
<font color="green">Ofab Bear MK 3</font> <a href="chatcmd:///command giveitem %t 265251 265251 1">1</a> <a href="chatcmd:///command giveitem %t 265252 265252 99">99</a> <a href="chatcmd:///command giveitem %t 265253 265253 100">100</a> <a href="chatcmd:///command giveitem %t 265254 265254 199">199</a> <a href="chatcmd:///command giveitem %t 265255 265255 200">200</a> <a href="chatcmd:///command giveitem %t 265256 265256 299">299</a> <a href="chatcmd:///command giveitem %t 265257 265257 300">300</a>
<font color="green">Ofab Bear MK 4</font> <a href="chatcmd:///command giveitem %t 265258 265258 1">1</a> <a href="chatcmd:///command giveitem %t 265259 265259 99">99</a> <a href="chatcmd:///command giveitem %t 265260 265260 100">100</a> <a href="chatcmd:///command giveitem %t 265261 265261 199">199</a> <a href="chatcmd:///command giveitem %t 265262 265262 200">200</a> <a href="chatcmd:///command giveitem %t 265263 265263 299">299</a> <a href="chatcmd:///command giveitem %t 265264 265264 300">300</a>
<font color="green">Ofab Bear MK 5</font> <a href="chatcmd:///command giveitem %t 265265 265265 1">1</a> <a href="chatcmd:///command giveitem %t 265266 265266 99">99</a> <a href="chatcmd:///command giveitem %t 265267 265267 100">100</a> <a href="chatcmd:///command giveitem %t 265268 265268 199">199</a> <a href="chatcmd:///command giveitem %t 265269 265269 200">200</a> <a href="chatcmd:///command giveitem %t 265270 265270 299">299</a> <a href="chatcmd:///command giveitem %t 265271 265271 300">300</a>
<font color="green">Ofab Bear MK 6</font> <a href="chatcmd:///command giveitem %t 265272 265272 1">1</a> <a href="chatcmd:///command giveitem %t 265273 265273 99">99</a> <a href="chatcmd:///command giveitem %t 265274 265274 100">100</a> <a href="chatcmd:///command giveitem %t 265275 265275 199">199</a> <a href="chatcmd:///command giveitem %t 265276 265276 200">200</a> <a href="chatcmd:///command giveitem %t 265277 265277 299">299</a> <a href="chatcmd:///command giveitem %t 265278 265278 300">300</a>

Rifle
####

<font color="green">Ofab Cobra Mk 1 </font><a href="chatcmd:///command giveitem %t 265279 265279 1">1</a> <a href="chatcmd:///command giveitem %t 265280 265280 99">99</a> <a href="chatcmd:///command giveitem %t 265281 265281 100">100</a> <a href="chatcmd:///command giveitem %t 265282 265282 199">199</a> <a href="chatcmd:///command giveitem %t 265283 265283 200">200</a> <a href="chatcmd:///command giveitem %t 265284 265284 299">299</a> <a href="chatcmd:///command giveitem %t 265285 265285 300">300</a>
<font color="green">Ofab Cobra Mk 2 </font><a href="chatcmd:///command giveitem %t 265286 265286 1">1</a> <a href="chatcmd:///command giveitem %t 265287 265287 99">99</a> <a href="chatcmd:///command giveitem %t 265288 265288 100">100</a> <a href="chatcmd:///command giveitem %t 265289 265289 199">199</a> <a href="chatcmd:///command giveitem %t 265290 265290 200">200</a> <a href="chatcmd:///command giveitem %t 265291 265291 299">299</a> <a href="chatcmd:///command giveitem %t 265292 265292 300">300</a>
<font color="green">Ofab Cobra Mk 3 </font><a href="chatcmd:///command giveitem %t 265293 265293 1">1</a> <a href="chatcmd:///command giveitem %t 265294 265294 99">99</a> <a href="chatcmd:///command giveitem %t 265295 265295 100">100</a> <a href="chatcmd:///command giveitem %t 265296 265296 199">199</a> <a href="chatcmd:///command giveitem %t 265297 265297 200">200</a> <a href="chatcmd:///command giveitem %t 265298 265298 299">299</a> <a href="chatcmd:///command giveitem %t 265299 265299 300">300</a>
<font color="green">Ofab Cobra Mk 4 </font><a href="chatcmd:///command giveitem %t 265300 265300 1">1</a> <a href="chatcmd:///command giveitem %t 265301 265301 99">99</a> <a href="chatcmd:///command giveitem %t 265302 265302 100">100</a> <a href="chatcmd:///command giveitem %t 265303 265303 199">199</a> <a href="chatcmd:///command giveitem %t 265304 265304 200">200</a> <a href="chatcmd:///command giveitem %t 265305 265305 299">299</a> <a href="chatcmd:///command giveitem %t 265306 265306 300">300</a>
<font color="green">Ofab Cobra Mk 5 </font><a href="chatcmd:///command giveitem %t 265307 265307 1">1</a> <a href="chatcmd:///command giveitem %t 265308 265308 99">99</a> <a href="chatcmd:///command giveitem %t 265309 265309 100">100</a> <a href="chatcmd:///command giveitem %t 265310 265310 199">199</a> <a href="chatcmd:///command giveitem %t 265311 265311 200">200</a> <a href="chatcmd:///command giveitem %t 265312 265312 299">299</a> <a href="chatcmd:///command giveitem %t 265313 265313 300">300</a>
<font color="green">Ofab Cobra Mk 6 </font><a href="chatcmd:///command giveitem %t 265314 265314 1">1</a> <a href="chatcmd:///command giveitem %t 265315 265315 99">99</a> <a href="chatcmd:///command giveitem %t 265316 265316 100">100</a> <a href="chatcmd:///command giveitem %t 265317 265317 199">199</a> <a href="chatcmd:///command giveitem %t 265318 265318 200">200</a> <a href="chatcmd:///command giveitem %t 265319 265319 299">299</a> <a href="chatcmd:///command giveitem %t 265320 265320 300">300</a>

MG / SMG
#######

<font color="green">Ofab Hawk Mk 1 </font><a href="chatcmd:///command giveitem %t 265153 265153 1">1</a> <a href="chatcmd:///command giveitem %t 265154 265154 99">99</a> <a href="chatcmd:///command giveitem %t 265155 265155 100">100</a> <a href="chatcmd:///command giveitem %t 265156 265156 199">199</a> <a href="chatcmd:///command giveitem %t 265157 265157 200">200</a> <a href="chatcmd:///command giveitem %t 265158 265158 299">299</a> <a href="chatcmd:///command giveitem %t 265159 265159 300">300</a>
<font color="green">Ofab Hawk Mk 2 </font><a href="chatcmd:///command giveitem %t 265160 265160 1">1</a> <a href="chatcmd:///command giveitem %t 265161 265161 99">99</a> <a href="chatcmd:///command giveitem %t 265162 265162 100">100</a> <a href="chatcmd:///command giveitem %t 265163 265163 199">199</a> <a href="chatcmd:///command giveitem %t 265164 265164 200">200</a> <a href="chatcmd:///command giveitem %t 265165 265165 299">299</a> <a href="chatcmd:///command giveitem %t 265166 265166 300">300</a>
<font color="green">Ofab Hawk Mk 3 </font><a href="chatcmd:///command giveitem %t 265167 265167 1">1</a> <a href="chatcmd:///command giveitem %t 265168 265168 99">99</a> <a href="chatcmd:///command giveitem %t 265169 265169 100">100</a> <a href="chatcmd:///command giveitem %t 265170 265170 199">199</a> <a href="chatcmd:///command giveitem %t 265171 265171 200">200</a> <a href="chatcmd:///command giveitem %t 265172 265172 299">299</a> <a href="chatcmd:///command giveitem %t 265173 265173 300">300</a>
<font color="green">Ofab Hawk Mk 4 </font><a href="chatcmd:///command giveitem %t 265174 265174 1">1</a> <a href="chatcmd:///command giveitem %t 265175 265175 99">99</a> <a href="chatcmd:///command giveitem %t 265176 265176 100">100</a> <a href="chatcmd:///command giveitem %t 265177 265177 199">199</a> <a href="chatcmd:///command giveitem %t 265178 265178 200">200</a> <a href="chatcmd:///command giveitem %t 265179 265179 299">299</a> <a href="chatcmd:///command giveitem %t 265180 265180 300">300</a>
<font color="green">Ofab Hawk Mk 5 </font><a href="chatcmd:///command giveitem %t 265181 265181 1">1</a> <a href="chatcmd:///command giveitem %t 265182 265182 99">99</a> <a href="chatcmd:///command giveitem %t 265183 265183 100">100</a> <a href="chatcmd:///command giveitem %t 265184 265184 199">199</a> <a href="chatcmd:///command giveitem %t 265185 265185 200">200</a> <a href="chatcmd:///command giveitem %t 265186 265186 299">299</a> <a href="chatcmd:///command giveitem %t 265187 265187 300">300</a>
<font color="green">Ofab Hawk Mk 6 </font><a href="chatcmd:///command giveitem %t 265188 265188 1">1</a> <a href="chatcmd:///command giveitem %t 265189 265189 99">99</a> <a href="chatcmd:///command giveitem %t 265190 265190 100">100</a> <a href="chatcmd:///command giveitem %t 265191 265191 199">199</a> <a href="chatcmd:///command giveitem %t 265192 265192 200">200</a> <a href="chatcmd:///command giveitem %t 265193 265193 299">299</a> <a href="chatcmd:///command giveitem %t 265194 265194 300">300</a>

1H Edged
#######

<font color="green">Ofab Mongoose Mk 1 </font><a href="chatcmd:///command giveitem %t 264146 264146 1">1</a> <a href="chatcmd:///command giveitem %t 265147 265147 99">99</a> <a href="chatcmd:///command giveitem %t 266148 266148 100">100</a> <a href="chatcmd:///command giveitem %t 267149 267149 199">199</a> <a href="chatcmd:///command giveitem %t 268150 268150 200">200</a> <a href="chatcmd:///command giveitem %t 269151 269151 299">299</a> <a href="chatcmd:///command giveitem %t 270152 270152 300">300</a>
<font color="green">Ofab Mongoose Mk 2 </font><a href="chatcmd:///command giveitem %t 264901 264901 1">1</a> <a href="chatcmd:///command giveitem %t 264902 264902 99">99</a> <a href="chatcmd:///command giveitem %t 264903 264903 100">100</a> <a href="chatcmd:///command giveitem %t 264904 264904 199">199</a> <a href="chatcmd:///command giveitem %t 264905 264905 200">200</a> <a href="chatcmd:///command giveitem %t 264906 264906 299">299</a> <a href="chatcmd:///command giveitem %t 264907 264907 300">300</a>
<font color="green">Ofab Mongoose Mk 3 </font><a href="chatcmd:///command giveitem %t 264908 264908 1">1</a> <a href="chatcmd:///command giveitem %t 264909 264909 99">99</a> <a href="chatcmd:///command giveitem %t 264910 264910 100">100</a> <a href="chatcmd:///command giveitem %t 264911 264911 199">199</a> <a href="chatcmd:///command giveitem %t 264912 264912 200">200</a> <a href="chatcmd:///command giveitem %t 264913 264913 299">299</a> <a href="chatcmd:///command giveitem %t 264914 264914 300">300</a>
<font color="green">Ofab Mongoose Mk 4 </font><a href="chatcmd:///command giveitem %t 264915 264915 1">1</a> <a href="chatcmd:///command giveitem %t 264916 264916 99">99</a> <a href="chatcmd:///command giveitem %t 264917 264917 100">100</a> <a href="chatcmd:///command giveitem %t 264918 264918 199">199</a> <a href="chatcmd:///command giveitem %t 264919 264919 200">200</a> <a href="chatcmd:///command giveitem %t 264920 264920 299">299</a> <a href="chatcmd:///command giveitem %t 264921 264921 300">300</a>
<font color="green">Ofab Mongoose Mk 5 </font><a href="chatcmd:///command giveitem %t 264922 264922 1">1</a> <a href="chatcmd:///command giveitem %t 264923 264923 99">99</a> <a href="chatcmd:///command giveitem %t 264924 264924 100">100</a> <a href="chatcmd:///command giveitem %t 264925 264925 199">199</a> <a href="chatcmd:///command giveitem %t 264926 264926 200">200</a> <a href="chatcmd:///command giveitem %t 264927 264927 299">299</a> <a href="chatcmd:///command giveitem %t 264928 264928 300">300</a>
<font color="green">Ofab Mongoose Mk 6 </font><a href="chatcmd:///command giveitem %t 264929 264929 1">1</a> <a href="chatcmd:///command giveitem %t 264930 264930 99">99</a> <a href="chatcmd:///command giveitem %t 264931 264931 100">100</a> <a href="chatcmd:///command giveitem %t 264932 264932 199">199</a> <a href="chatcmd:///command giveitem %t 264933 264933 200">200</a> <a href="chatcmd:///command giveitem %t 264934 264934 299">299</a> <a href="chatcmd:///command giveitem %t 264935 264935 300">300</a>

1H Blunt
#######

<font color="green">Ofab Panther Mk 1 </font><a href="chatcmd:///command giveitem %t 264936 264936 1">1</a> <a href="chatcmd:///command giveitem %t 264937 264937 99">99</a> <a href="chatcmd:///command giveitem %t 264938 264938 100">100</a> <a href="chatcmd:///command giveitem %t 264939 264939 199">199</a> <a href="chatcmd:///command giveitem %t 264940 264940 200">200</a> <a href="chatcmd:///command giveitem %t 264941 264941 299">299</a> <a href="chatcmd:///command giveitem %t 264942 264942 300">300</a>
<font color="green">Ofab Panther Mk 2 </font><a href="chatcmd:///command giveitem %t 264943 264943 1">1</a> <a href="chatcmd:///command giveitem %t 264944 264944 99">99</a> <a href="chatcmd:///command giveitem %t 264945 264945 100">100</a> <a href="chatcmd:///command giveitem %t 264946 264946 199">199</a> <a href="chatcmd:///command giveitem %t 264947 264947 200">200</a> <a href="chatcmd:///command giveitem %t 264948 264948 299">299</a> <a href="chatcmd:///command giveitem %t 264949 264949 300">300</a>
<font color="green">Ofab Panther Mk 3 </font><a href="chatcmd:///command giveitem %t 264950 264950 1">1</a> <a href="chatcmd:///command giveitem %t 264951 264951 99">99</a> <a href="chatcmd:///command giveitem %t 264952 264952 100">100</a> <a href="chatcmd:///command giveitem %t 264953 264953 199">199</a> <a href="chatcmd:///command giveitem %t 264954 264954 200">200</a> <a href="chatcmd:///command giveitem %t 264955 264955 299">299</a> <a href="chatcmd:///command giveitem %t 264956 264956 300">300</a>
<font color="green">Ofab Panther Mk 4 </font><a href="chatcmd:///command giveitem %t 264957 264957 1">1</a> <a href="chatcmd:///command giveitem %t 264958 264958 99">99</a> <a href="chatcmd:///command giveitem %t 264959 264959 100">100</a> <a href="chatcmd:///command giveitem %t 264960 264960 199">199</a> <a href="chatcmd:///command giveitem %t 264961 264961 200">200</a> <a href="chatcmd:///command giveitem %t 264962 264962 299">299</a> <a href="chatcmd:///command giveitem %t 264963 264963 300">300</a>
<font color="green">Ofab Panther Mk 5 </font><a href="chatcmd:///command giveitem %t 264964 264964 1">1</a> <a href="chatcmd:///command giveitem %t 264965 264965 99">99</a> <a href="chatcmd:///command giveitem %t 264966 264966 100">100</a> <a href="chatcmd:///command giveitem %t 264967 264967 199">199</a> <a href="chatcmd:///command giveitem %t 264968 264968 200">200</a> <a href="chatcmd:///command giveitem %t 264969 264969 299">299</a> <a href="chatcmd:///command giveitem %t 264970 264970 300">300</a>
<font color="green">Ofab Panther Mk 6 </font><a href="chatcmd:///command giveitem %t 264971 264971 1">1</a> <a href="chatcmd:///command giveitem %t 264972 264972 99">99</a> <a href="chatcmd:///command giveitem %t 264973 264973 100">100</a> <a href="chatcmd:///command giveitem %t 264974 264974 199">199</a> <a href="chatcmd:///command giveitem %t 264975 264975 200">200</a> <a href="chatcmd:///command giveitem %t 264976 264976 299">299</a> <a href="chatcmd:///command giveitem %t 264977 264977 300">300</a>

Pistol
#####

<font color="green">Ofab Peregrine Mk 1 </font><a href="chatcmd:///command giveitem %t 265020 265020 1">1</a> <a href="chatcmd:///command giveitem %t 265021 265021 99">99</a> <a href="chatcmd:///command giveitem %t 265022 265022 100">100</a> <a href="chatcmd:///command giveitem %t 265023 265023 199">199</a> <a href="chatcmd:///command giveitem %t 265024 265024 200">200</a> <a href="chatcmd:///command giveitem %t 265025 265025 299">299</a> <a href="chatcmd:///command giveitem %t 265026 265026 300">300</a>
<font color="green">Ofab Peregrine Mk 2 </font><a href="chatcmd:///command giveitem %t 265027 265027 1">1</a> <a href="chatcmd:///command giveitem %t 265028 265028 99">99</a> <a href="chatcmd:///command giveitem %t 265029 265029 100">100</a> <a href="chatcmd:///command giveitem %t 265030 265030 199">199</a> <a href="chatcmd:///command giveitem %t 265031 265031 200">200</a> <a href="chatcmd:///command giveitem %t 265032 265032 299">299</a> <a href="chatcmd:///command giveitem %t 265033 265033 300">300</a>
<font color="green">Ofab Peregrine Mk 3 </font><a href="chatcmd:///command giveitem %t 265034 265034 1">1</a> <a href="chatcmd:///command giveitem %t 265035 265035 99">99</a> <a href="chatcmd:///command giveitem %t 265036 265036 100">100</a> <a href="chatcmd:///command giveitem %t 265037 265037 199">199</a> <a href="chatcmd:///command giveitem %t 265038 265038 200">200</a> <a href="chatcmd:///command giveitem %t 265039 265039 299">299</a> <a href="chatcmd:///command giveitem %t 265040 265040 300">300</a>
<font color="green">Ofab Peregrine Mk 4 </font><a href="chatcmd:///command giveitem %t 265041 265041 1">1</a> <a href="chatcmd:///command giveitem %t 265042 265042 99">99</a> <a href="chatcmd:///command giveitem %t 265043 265043 100">100</a> <a href="chatcmd:///command giveitem %t 265044 265044 199">199</a> <a href="chatcmd:///command giveitem %t 265045 265045 200">200</a> <a href="chatcmd:///command giveitem %t 265046 265046 299">299</a> <a href="chatcmd:///command giveitem %t 265047 265047 300">300</a>
<font color="green">Ofab Peregrine Mk 5 </font><a href="chatcmd:///command giveitem %t 265048 265048 1">1</a> <a href="chatcmd:///command giveitem %t 265049 265049 99">99</a> <a href="chatcmd:///command giveitem %t 265050 265050 100">100</a> <a href="chatcmd:///command giveitem %t 265051 265051 199">199</a> <a href="chatcmd:///command giveitem %t 265052 265052 200">200</a> <a href="chatcmd:///command giveitem %t 265053 265053 299">299</a> <a href="chatcmd:///command giveitem %t 265054 265054 300">300</a>
<font color="green">Ofab Peregrine Mk 6 </font><a href="chatcmd:///command giveitem %t 265055 265055 1">1</a> <a href="chatcmd:///command giveitem %t 265056 265056 99">99</a> <a href="chatcmd:///command giveitem %t 265057 265057 100">100</a> <a href="chatcmd:///command giveitem %t 265058 265058 199">199</a> <a href="chatcmd:///command giveitem %t 265059 265059 200">200</a> <a href="chatcmd:///command giveitem %t 265060 265060 299">299</a> <a href="chatcmd:///command giveitem %t 265061 265061 300">300</a>

Assualt Rifle
##########

<font color="green">Ofab Shark Mk 1 </font><a href="chatcmd:///command giveitem %t 265062 265062 1">1</a> <a href="chatcmd:///command giveitem %t 265063 265063 99">99</a> <a href="chatcmd:///command giveitem %t 265064 265064 100">100</a> <a href="chatcmd:///command giveitem %t 265065 265065 199">199</a> <a href="chatcmd:///command giveitem %t 265066 265066 200">200</a> <a href="chatcmd:///command giveitem %t 265067 265067 299">299</a> <a href="chatcmd:///command giveitem %t 265068 265068 300">300</a>
<font color="green">Ofab Shark Mk 2 </font><a href="chatcmd:///command giveitem %t 265069 265069 1">1</a> <a href="chatcmd:///command giveitem %t 265070 265070 99">99</a> <a href="chatcmd:///command giveitem %t 265071 265071 100">100</a> <a href="chatcmd:///command giveitem %t 265072 265072 199">199</a> <a href="chatcmd:///command giveitem %t 265073 265073 200">200</a> <a href="chatcmd:///command giveitem %t 265074 265074 299">299</a> <a href="chatcmd:///command giveitem %t 265075 265075 300">300</a>
<font color="green">Ofab Shark Mk 3 </font><a href="chatcmd:///command giveitem %t 265076 265076 1">1</a> <a href="chatcmd:///command giveitem %t 265077 265077 99">99</a> <a href="chatcmd:///command giveitem %t 265078 265078 100">100</a> <a href="chatcmd:///command giveitem %t 265079 265079 199">199</a> <a href="chatcmd:///command giveitem %t 265080 265080 200">200</a> <a href="chatcmd:///command giveitem %t 265081 265081 299">299</a> <a href="chatcmd:///command giveitem %t 265082 265082 300">300</a>
<font color="green">Ofab Shark Mk 4 </font><a href="chatcmd:///command giveitem %t 265083 265083 1">1</a> <a href="chatcmd:///command giveitem %t 265084 265084 99">99</a> <a href="chatcmd:///command giveitem %t 265085 265085 100">100</a> <a href="chatcmd:///command giveitem %t 265086 265086 199">199</a> <a href="chatcmd:///command giveitem %t 265087 265087 200">200</a> <a href="chatcmd:///command giveitem %t 265088 265088 299">299</a> <a href="chatcmd:///command giveitem %t 265089 265089 300">300</a>
<font color="green">Ofab Shark Mk 5 </font><a href="chatcmd:///command giveitem %t 265090 265090 1">1</a> <a href="chatcmd:///command giveitem %t 265091 265091 99">99</a> <a href="chatcmd:///command giveitem %t 265092 265092 100">100</a> <a href="chatcmd:///command giveitem %t 265093 265093 199">199</a> <a href="chatcmd:///command giveitem %t 265094 265094 200">200</a> <a href="chatcmd:///command giveitem %t 265095 265095 299">299</a> <a href="chatcmd:///command giveitem %t 265096 265096 300">300</a>
<font color="green">Ofab Shark Mk 6 </font><a href="chatcmd:///command giveitem %t 265097 265097 1">1</a> <a href="chatcmd:///command giveitem %t 265098 265098 99">99</a> <a href="chatcmd:///command giveitem %t 265099 265099 100">100</a> <a href="chatcmd:///command giveitem %t 265100 265100 199">199</a> <a href="chatcmd:///command giveitem %t 265101 265101 200">200</a> <a href="chatcmd:///command giveitem %t 265102 265102 299">299</a> <a href="chatcmd:///command giveitem %t 265103 265103 300">300</a>

Shotgun
######

<font color="green">Ofab Silverback Mk 1 </font><a href="chatcmd:///command giveitem %t 264853 264853 1">1</a> <a href="chatcmd:///command giveitem %t 264854 264854 99">99</a> <a href="chatcmd:///command giveitem %t 264855 264855 100">100</a> <a href="chatcmd:///command giveitem %t 264856 264856 199">199</a> <a href="chatcmd:///command giveitem %t 264857 264857 200">200</a> <a href="chatcmd:///command giveitem %t 264858 264858 299">299</a> <a href="chatcmd:///command giveitem %t 264859 264859 300">300</a>
<font color="green">Ofab Silverback Mk 2 </font><a href="chatcmd:///command giveitem %t 264864 264864 1">1</a> <a href="chatcmd:///command giveitem %t 264865 264865 99">99</a> <a href="chatcmd:///command giveitem %t 264866 264866 100">100</a> <a href="chatcmd:///command giveitem %t 264867 264867 199">199</a> <a href="chatcmd:///command giveitem %t 264868 264868 200">200</a> <a href="chatcmd:///command giveitem %t 264869 264869 299">299</a> <a href="chatcmd:///command giveitem %t 264870 264870 300">300</a>
<font color="green">Ofab Silverback Mk 3 </font><a href="chatcmd:///command giveitem %t 264871 264871 1">1</a> <a href="chatcmd:///command giveitem %t 264872 264872 99">99</a> <a href="chatcmd:///command giveitem %t 264873 264873 100">100</a> <a href="chatcmd:///command giveitem %t 264874 264874 199">199</a> <a href="chatcmd:///command giveitem %t 264875 264875 200">200</a> <a href="chatcmd:///command giveitem %t 264876 264876 299">299</a> <a href="chatcmd:///command giveitem %t 264877 264877 300">300</a>
<font color="green">Ofab Silverback Mk 4 </font><a href="chatcmd:///command giveitem %t 264878 264878 1">1</a> <a href="chatcmd:///command giveitem %t 264879 264879 99">99</a> <a href="chatcmd:///command giveitem %t 264880 264880 100">100</a> <a href="chatcmd:///command giveitem %t 264881 264881 199">199</a> <a href="chatcmd:///command giveitem %t 264882 264882 200">200</a> <a href="chatcmd:///command giveitem %t 264883 264883 299">299</a> <a href="chatcmd:///command giveitem %t 264884 264884 300">300</a>
<font color="green">Ofab Silverback Mk 5 </font><a href="chatcmd:///command giveitem %t 264885 264885 1">1</a> <a href="chatcmd:///command giveitem %t 264886 264886 99">99</a> <a href="chatcmd:///command giveitem %t 264887 264887 100">100</a> <a href="chatcmd:///command giveitem %t 264888 264888 199">199</a> <a href="chatcmd:///command giveitem %t 264889 264889 200">200</a> <a href="chatcmd:///command giveitem %t 264890 264890 299">299</a> <a href="chatcmd:///command giveitem %t 264891 264891 300">300</a>
<font color="green">Ofab Silverback Mk 6 </font><a href="chatcmd:///command giveitem %t 264892 264892 1">1</a> <a href="chatcmd:///command giveitem %t 264893 264893 99">99</a> <a href="chatcmd:///command giveitem %t 264894 264894 100">100</a> <a href="chatcmd:///command giveitem %t 264895 264895 199">199</a> <a href="chatcmd:///command giveitem %t 264896 264896 200">200</a> <a href="chatcmd:///command giveitem %t 264897 264897 299">299</a> <a href="chatcmd:///command giveitem %t 264898 264898 300">300</a>

Bow
####

<font color="green">Ofab Tiger Mk 1 </font><a href="chatcmd:///command giveitem %t 265104 265104 1">1</a> <a href="chatcmd:///command giveitem %t 265105 265105 99">99</a> <a href="chatcmd:///command giveitem %t 265106 265106 100">100</a> <a href="chatcmd:///command giveitem %t 265107 265107 199">199</a> <a href="chatcmd:///command giveitem %t 265108 265108 200">200</a> <a href="chatcmd:///command giveitem %t 265109 265109 299">299</a> <a href="chatcmd:///command giveitem %t 265110 265110 300">300</a>
<font color="green">Ofab Tiger Mk 2 </font><a href="chatcmd:///command giveitem %t 265111 265111 1">1</a> <a href="chatcmd:///command giveitem %t 265112 265112 99">99</a> <a href="chatcmd:///command giveitem %t 265113 265113 100">100</a> <a href="chatcmd:///command giveitem %t 265114 265114 199">199</a> <a href="chatcmd:///command giveitem %t 265115 265115 200">200</a> <a href="chatcmd:///command giveitem %t 265116 265116 299">299</a> <a href="chatcmd:///command giveitem %t 265117 265117 300">300</a>
<font color="green">Ofab Tiger Mk 3 </font><a href="chatcmd:///command giveitem %t 265118 265118 1">1</a> <a href="chatcmd:///command giveitem %t 265119 265119 99">99</a> <a href="chatcmd:///command giveitem %t 265120 265120 100">100</a> <a href="chatcmd:///command giveitem %t 265121 265121 199">199</a> <a href="chatcmd:///command giveitem %t 265122 265122 200">200</a> <a href="chatcmd:///command giveitem %t 265123 265123 299">299</a> <a href="chatcmd:///command giveitem %t 265124 265124 300">300</a>
<font color="green">Ofab Tiger Mk 4 </font><a href="chatcmd:///command giveitem %t 265125 265125 1">1</a> <a href="chatcmd:///command giveitem %t 265126 265126 99">99</a> <a href="chatcmd:///command giveitem %t 265127 265127 100">100</a> <a href="chatcmd:///command giveitem %t 265128 265128 199">199</a> <a href="chatcmd:///command giveitem %t 265129 265129 200">200</a> <a href="chatcmd:///command giveitem %t 265130 265130 299">299</a> <a href="chatcmd:///command giveitem %t 265131 265131 300">300</a>
<font color="green">Ofab Tiger Mk 5 </font><a href="chatcmd:///command giveitem %t 265132 265132 1">1</a> <a href="chatcmd:///command giveitem %t 265133 265133 99">99</a> <a href="chatcmd:///command giveitem %t 265134 265134 100">100</a> <a href="chatcmd:///command giveitem %t 265135 265135 199">199</a> <a href="chatcmd:///command giveitem %t 265136 265136 200">200</a> <a href="chatcmd:///command giveitem %t 265137 265137 299">299</a> <a href="chatcmd:///command giveitem %t 265138 265138 300">300</a>
<font color="green">Ofab Tiger Mk 6 </font><a href="chatcmd:///command giveitem %t 265139 265139 1">1</a> <a href="chatcmd:///command giveitem %t 265140 265140 99">99</a> <a href="chatcmd:///command giveitem %t 265141 265141 100">100</a> <a href="chatcmd:///command giveitem %t 265142 265142 199">199</a> <a href="chatcmd:///command giveitem %t 265143 265143 200">200</a> <a href="chatcmd:///command giveitem %t 265144 265144 299">299</a> <a href="chatcmd:///command giveitem %t 265145 265145 300">300</a>

Piercing
######

<font color="green">Ofab Viper Mk 1 </font><a href="chatcmd:///command giveitem %t 264978 264978 1">1</a> <a href="chatcmd:///command giveitem %t 264979 264979 99">99</a> <a href="chatcmd:///command giveitem %t 264980 264980 100">100</a> <a href="chatcmd:///command giveitem %t 264981 264981 199">199</a> <a href="chatcmd:///command giveitem %t 264982 264982 200">200</a> <a href="chatcmd:///command giveitem %t 264983 264983 299">299</a> <a href="chatcmd:///command giveitem %t 264984 264984 300">300</a>
<font color="green">Ofab Viper Mk 2 </font><a href="chatcmd:///command giveitem %t 264985 264985 1">1</a> <a href="chatcmd:///command giveitem %t 264986 264986 99">99</a> <a href="chatcmd:///command giveitem %t 264987 264987 100">100</a> <a href="chatcmd:///command giveitem %t 264988 264988 199">199</a> <a href="chatcmd:///command giveitem %t 264989 264989 200">200</a> <a href="chatcmd:///command giveitem %t 264990 264990 299">299</a> <a href="chatcmd:///command giveitem %t 264991 264991 300">300</a>
<font color="green">Ofab Viper Mk 3 </font><a href="chatcmd:///command giveitem %t 264992 264992 1">1</a> <a href="chatcmd:///command giveitem %t 264993 264993 99">99</a> <a href="chatcmd:///command giveitem %t 264994 264994 100">100</a> <a href="chatcmd:///command giveitem %t 264995 264995 199">199</a> <a href="chatcmd:///command giveitem %t 264996 264996 200">200</a> <a href="chatcmd:///command giveitem %t 264997 264997 299">299</a> <a href="chatcmd:///command giveitem %t 264998 264998 300">300</a>
<font color="green">Ofab Viper Mk 4 </font><a href="chatcmd:///command giveitem %t 264999 264999 1">1</a> <a href="chatcmd:///command giveitem %t 265000 265000 99">99</a> <a href="chatcmd:///command giveitem %t 265001 265001 100">100</a> <a href="chatcmd:///command giveitem %t 265002 265002 199">199</a> <a href="chatcmd:///command giveitem %t 265003 265003 200">200</a> <a href="chatcmd:///command giveitem %t 265004 265004 299">299</a> <a href="chatcmd:///command giveitem %t 265005 265005 300">300</a>
<font color="green">Ofab Viper Mk 5 </font><a href="chatcmd:///command giveitem %t 265006 265006 1">1</a> <a href="chatcmd:///command giveitem %t 265007 265007 99">99</a> <a href="chatcmd:///command giveitem %t 265008 265008 100">100</a> <a href="chatcmd:///command giveitem %t 265009 265009 199">199</a> <a href="chatcmd:///command giveitem %t 265010 265010 200">200</a> <a href="chatcmd:///command giveitem %t 265011 265011 299">299</a> <a href="chatcmd:///command giveitem %t 265012 265012 300">300</a>
<font color="green">Ofab Viper Mk 6 </font><a href="chatcmd:///command giveitem %t 265013 265013 1">1</a> <a href="chatcmd:///command giveitem %t 265014 265014 99">99</a> <a href="chatcmd:///command giveitem %t 265015 265015 100">100</a> <a href="chatcmd:///command giveitem %t 265016 265016 199">199</a> <a href="chatcmd:///command giveitem %t 265017 265017 200">200</a> <a href="chatcmd:///command giveitem %t 265018 265018 299">299</a> <a href="chatcmd:///command giveitem %t 265019 265019 300">300</a>

2H Edged
#######

<font color="green">Ofab Wolf Mk 1 </font><a href="chatcmd:///command giveitem %t 265195 265195 1">1</a> <a href="chatcmd:///command giveitem %t 265196 265196 99">99</a> <a href="chatcmd:///command giveitem %t 265197 265197 100">100</a> <a href="chatcmd:///command giveitem %t 265198 265198 199">199</a> <a href="chatcmd:///command giveitem %t 265199 265199 200">200</a> <a href="chatcmd:///command giveitem %t 265200 265200 299">299</a> <a href="chatcmd:///command giveitem %t 265201 265201 300">300</a>
<font color="green">Ofab Wolf Mk 2 </font><a href="chatcmd:///command giveitem %t 265202 265202 1">1</a> <a href="chatcmd:///command giveitem %t 265203 265203 99">99</a> <a href="chatcmd:///command giveitem %t 265204 265204 100">100</a> <a href="chatcmd:///command giveitem %t 265205 265205 199">199</a> <a href="chatcmd:///command giveitem %t 265206 265206 200">200</a> <a href="chatcmd:///command giveitem %t 265207 265207 299">299</a> <a href="chatcmd:///command giveitem %t 265208 265208 300">300</a>
<font color="green">Ofab Wolf Mk 3 </font><a href="chatcmd:///command giveitem %t 265209 265209 1">1</a> <a href="chatcmd:///command giveitem %t 265210 265210 99">99</a> <a href="chatcmd:///command giveitem %t 265211 265211 100">100</a> <a href="chatcmd:///command giveitem %t 265212 265212 199">199</a> <a href="chatcmd:///command giveitem %t 265213 265213 200">200</a> <a href="chatcmd:///command giveitem %t 265214 265214 299">299</a> <a href="chatcmd:///command giveitem %t 265215 265215 300">300</a>
<font color="green">Ofab Wolf Mk 4 </font><a href="chatcmd:///command giveitem %t 265216 265216 1">1</a> <a href="chatcmd:///command giveitem %t 265217 265217 99">99</a> <a href="chatcmd:///command giveitem %t 265218 265218 100">100</a> <a href="chatcmd:///command giveitem %t 265219 265219 199">199</a> <a href="chatcmd:///command giveitem %t 265220 265220 200">200</a> <a href="chatcmd:///command giveitem %t 265221 265221 299">299</a> <a href="chatcmd:///command giveitem %t 265222 265222 300">300</a>
<font color="green">Ofab Wolf Mk 5 </font><a href="chatcmd:///command giveitem %t 265223 265223 1">1</a> <a href="chatcmd:///command giveitem %t 265224 265224 99">99</a> <a href="chatcmd:///command giveitem %t 265225 265225 100">100</a> <a href="chatcmd:///command giveitem %t 265226 265226 199">199</a> <a href="chatcmd:///command giveitem %t 265227 265227 200">200</a> <a href="chatcmd:///command giveitem %t 265228 265228 299">299</a> <a href="chatcmd:///command giveitem %t 265229 265229 300">300</a>
<font color="green">Ofab Wolf Mk 6 </font><a href="chatcmd:///command giveitem %t 265230 265230 1">1</a> <a href="chatcmd:///command giveitem %t 265231 265231 99">99</a> <a href="chatcmd:///command giveitem %t 265232 265232 100">100</a> <a href="chatcmd:///command giveitem %t 265233 265233 199">199</a> <a href="chatcmd:///command giveitem %t 265234 265234 200">200</a> <a href="chatcmd:///command giveitem %t 265235 265235 299">299</a> <a href="chatcmd:///command giveitem %t 265236 265236 300">300</a>

Dreadloch Weapons
#############

<a href="chatcmd:///command giveitem %t 267618 267618 300">Doctor's Left Hand of Grace</a>
<a href="chatcmd:///command giveitem %t 267619 267619 300">Doctor's Right Hand of Hope</a>

<a href="chatcmd:///command giveitem %t 267254 267254 300">Dreadloch Enhanced Bear</a>
<a href="chatcmd:///command giveitem %t 267253 267253 300">Dreadloch Enhanced Panther</a>
<a href="chatcmd:///command giveitem %t 267158 267158 300">Dreadloch Modified Shark</a>
<a href="chatcmd:///command giveitem %t 267127 267127 300">Dreadloch Obliterator</a>
<a href="chatcmd:///command giveitem %t 267128 267128 300">Dreadloch Rapier</a>
<a href="chatcmd:///command giveitem %t 267256 267256 300">Dreadloch Remodulator</a>
<a href="chatcmd:///command giveitem %t 267258 267258 300">Dreadloch Shen Sticks</a>
<a href="chatcmd:///command giveitem %t 267125 267125 300">Dreadloch Thrasher</a>
<a href="chatcmd:///command giveitem %t 267257 267257 300">Dreadloch Tigress</a>

