<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">#########</font>
<font color="white">## </font><font color="Yellow">Armor</font><font color="white"> ##</font>
<font color="white">#########</font>

<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabADV">Ofab Adventurer</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabAgent">Ofab Agent</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabCrat">Ofab Bureaucrat</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabDoc">Ofab Doctor</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabEnf">Ofab Enforcer</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabEng">Ofab Engineer</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabFix">Ofab Fixer</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabKeep">Ofab Keeper</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabMA">Ofab Martial Artist</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabMP">Ofab Meta-physicist</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabNT">Ofab Nano Technician</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabShade">Ofab Shade</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabSol">Ofab Soldier</a>
<a href="chatcmd:///script CellAO-Guardian\Item_Spawner\Cloth\Ofab\OfabTrader">Ofab Trader</a>