<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">###############</font>
<font color="white">## </font><font color="Yellow">NT Cyberdecks</font><font color="white"> ##</font>
<font color="white">###############</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<a href="chatcmd:///command giveitem %t 233257 233257 1">Basic Cyberdeck (Male - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233260 233260 1">Basic Cyberdeck (Male - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233268 233268 1">Basic Cyberdeck (Male - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233255 233255 1">Basic Cyberdeck (Female - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233261 233261 1">Basic Cyberdeck (Female - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233269 233269 1">Basic Cyberdeck (Female - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233263 233263 1">Basic Cyberdeck (Atrox)</a>

<a href="chatcmd:///command giveitem %t 233428 233428 1">Augmented Cyberdeck (Male - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233431 233431 1">Augmented Cyberdeck (Male - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233436 233436 1">Augmented Cyberdeck (Male - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233265 233265 1">Augmented Cyberdeck (Female - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233432 233432 1">Augmented Cyberdeck (Female - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233439 233439 1">Augmented Cyberdeck (Female - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233435 233435 1">Augmented Cyberdeck (Atrox)</a>

<a href="chatcmd:///command giveitem %t 233442 233442 1">Jobe-chipped Cyberdeck (Male - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233445 233445 1">Jobe-chipped Cyberdeck (Male - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233450 233450 1">Jobe-chipped Cyberdeck (Male - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233440 233440 1">Jobe-chipped Cyberdeck (Female - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233447 233447 1">Jobe-chipped Cyberdeck (Female - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233452 233452 1">Jobe-chipped Cyberdeck (Female - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233448 233448 1">Jobe-chipped Cyberdeck (Atrox)</a>

<a href="chatcmd:///command giveitem %t 233456 233456 1">Izgimmer-modified Cyberdeck (Male - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233459 233459 1">Izgimmer-modified Cyberdeck (Male - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233464 233464 1">Izgimmer-modified Cyberdeck (Male - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233454 233454 1">Izgimmer-modified Cyberdeck (Female - Solitus)</a>
<a href="chatcmd:///command giveitem %t 233460 233460 1">Izgimmer-modified Cyberdeck (Female - Opifex)</a>
<a href="chatcmd:///command giveitem %t 233466 233466 1">Izgimmer-modified Cyberdeck (Female - Nanomage)</a>
<a href="chatcmd:///command giveitem %t 233462 233462 1">Izgimmer-modified Cyberdeck (Atrox)</a>

