<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">#########</font>
<font color="white">##  </font><font color="Yellow">Belts</font><font color="white">  ##</font>
<font color="white">#########</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

1 Slot
#####

<a href="chatcmd:///command giveitem %t 260026 260026 1">Blackmane's Belt</a>
<a href="chatcmd:///command giveitem %t 36783 36783 1">Belt Component Platform Ti-100X</a>
<a href="chatcmd:///command giveitem %t 151694 151694 1">Reinforced NCU Component Belt</a>
<a href="chatcmd:///command giveitem %t 202733 202733 1">Belt of Justice</a>

2 Slot
#####

<a href="chatcmd:///command giveitem %t 252158 252158 1">Blackmane's Belt Component Platform</a>
<a href="chatcmd:///command giveitem %t 36783 36783 20">Belt Component Platform Ti-200X</a>
<a href="chatcmd:///command giveitem %t 151695 151695 20">Reinforced NCU Component Belt</a>
<a href="chatcmd:///command giveitem %t 202734 202734 20">Belt of Justice</a>

3 Slot
#####

<a href="chatcmd:///command giveitem %t 36777 36777 40">Belt Component Platform 300X</a>
<a href="chatcmd:///command giveitem %t 151696 151696 40">Reinforced NCU Component Belt</a>
<a href="chatcmd:///command giveitem %t 202735 202735 40">Belt of Justice</a>
<a href="chatcmd:///command giveitem %t 245025 245025 20">Trader's Utility Belt</a>

4 Slot
#####

<a href="chatcmd:///command giveitem %t 36785 36785 80">Belt Component Platform 4IX</a>
<a href="chatcmd:///command giveitem %t 202736 202736 80">Belt of Justice</a>
<a href="chatcmd:///command giveitem %t 151697 151697 80">Reinforced NCU Component Belt</a>

5 Slot
#####

<a href="chatcmd:///command giveitem %t 274972 274972 1">Dream Mesh Circuit</a>
<a href="chatcmd:///command giveitem %t 245429 245429 125">The Dantian Belt of Life</a>
<a href="chatcmd:///command giveitem %t 245427 245427 150">Tiny Spider Band</a>
<a href="chatcmd:///command giveitem %t 36784 36784 120">Belt Component Platform 5000</a>
<a href="chatcmd:///command giveitem %t 254372 254372 1">Overclocked Belt Component Platform</a>
<a href="chatcmd:///command giveitem %t 151698 151698 120">Reinforced NCU Component Belt</a>
<a href="chatcmd:///command giveitem %t 204601 204601 1">Guardian Circuit Board</a>

6 Slot
#####

<a href="chatcmd:///command giveitem %t 260698 260698 250">Component Platform of Agility</a>
<a href="chatcmd:///command giveitem %t 260697 260697 250">Component Platform of Intelligence</a>
<a href="chatcmd:///command giveitem %t 260699 260699 250">Component Platform of Psychic</a>
<a href="chatcmd:///command giveitem %t 260696 260696 250">Component Platform of Sense</a>
<a href="chatcmd:///command giveitem %t 260694 260694 250">Component Platform of Stamina</a>
<a href="chatcmd:///command giveitem %t 260695 260695 250">Component Platform of Strength</a>
<a href="chatcmd:///command giveitem %t 244648 244648 250">Sash of Scorpio Strength</a>
<a href="chatcmd:///command giveitem %t 36787 36787 200">Belt Component Platform 6K-X</a>
<a href="chatcmd:///command giveitem %t 202738 202738 200">Belt of Justice</a>
<a href="chatcmd:///command giveitem %t 151699 151699 200">Reinforced NCU Component Belt</a>
<a href="chatcmd:///command giveitem %t 244989 244989 300">Maar's Blue Belt of Double Prudence</a>
<a href="chatcmd:///command giveitem %t 244988 244988 300">Maar's Red Belt of Double Power</a>
<a href="chatcmd:///command giveitem %t 244990 244990 300">Maar's Yellow Belt of Double Speed</a>
<a href="chatcmd:///command giveitem %t 257119 257119 300">Hadrulf's Viral Belt Component Platform</a>
<a href="chatcmd:///command giveitem %t 279451 279451 300">Xan's Blue Belt of Triple Prudence</a>
<a href="chatcmd:///command giveitem %t 279450 279450 300">Xan's Red Belt of Triple Power</a>
<a href="chatcmd:///command giveitem %t 279452 279452 300">Xan's Yellow Belt of Triple Speed</a>
<a href="chatcmd:///command giveitem %t 279449 279449 300">Xan's Viral Belt Component Platform</a>

