<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">#########</font>
<font color="white">## </font><font color="Yellow">Decks</font><font color="white"> ##</font>
<font color="white">#########</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

Standard RK NCU Memory
##################

<font color="green">2 - 3 NCU Memory </font><a href="chatcmd:///command giveitem %t 36779 36779 1">1</a> <a href="chatcmd:///command giveitem %t 36779 36779 25">25</a>
<font color="green">4 - 7 NCU Memory </font><a href="chatcmd:///command giveitem %t 36778 36778 1">1</a> <a href="chatcmd:///command giveitem %t 36778 36778 25">25</a> <a href="chatcmd:///command giveitem %t 36778 36778 50">50</a>
<font color="green">8 - 15 NCU Memory </font><a href="chatcmd:///command giveitem %t 36786 36786 1">1</a> <a href="chatcmd:///command giveitem %t 36786 36786 25">25</a> <a href="chatcmd:///command giveitem %t 36786 36786 50">50</a>
<font color="green">16 - 31 NCU Memory </font><a href="chatcmd:///command giveitem %t 36780 36780 25">25</a> <a href="chatcmd:///command giveitem %t 36780 36780 50">50</a> <a href="chatcmd:///command giveitem %t 36780 36780 100">100</a>
<font color="green">32 - 63 NCU Memory </font><a href="chatcmd:///command giveitem %t 36781 36781 50">50</a> <a href="chatcmd:///command giveitem %t 36781 36781 100">100</a> <a href="chatcmd:///command giveitem %t 36781 36781 150">150</a>
<font color="green">64 NCU Memory </font><a href="chatcmd:///command giveitem %t 95520 95520 150">150</a> <a href="chatcmd:///command giveitem %t 95520 95520 175">175</a> <a href="chatcmd:///command giveitem %t 95520 95520 200">200</a>

Standard SL NCU
##########

<font color="green">Yuttos Modified NCU </font><a href="chatcmd:///command giveitem %t 238920 238920 160">160</a> <a href="chatcmd:///command giveitem %t 238920 238920 180">180</a> <a href="chatcmd:///command giveitem %t 238920 238920 200">200</a> <a href="chatcmd:///command giveitem %t 238920 238920 220">220</a> <a href="chatcmd:///command giveitem %t 238921 238921 240">240</a>
<font color="green">Spirit Infused Yuttos Modified NCU </font><a href="chatcmd:///command giveitem %t 267796 267796 160">160</a> <a href="chatcmd:///command giveitem %t 267796 267796 180">180</a> <a href="chatcmd:///command giveitem %t 267796 267796 200">200</a> <a href="chatcmd:///command giveitem %t 267796 267796 220">220</a> <a href="chatcmd:///command giveitem %t 267796 267796 240">240</a> <a href="chatcmd:///command giveitem %t 267796 267796 260">260</a> <a href="chatcmd:///command giveitem %t 267796 267796 280">280</a> <a href="chatcmd:///command giveitem %t 267797 267797 300">300</a>

Other Deck Items
############

<font color="green">Accelerated NCU Memory </font><a href="chatcmd:///command giveitem %t 164603 164603 1">1</a> <a href="chatcmd:///command giveitem %t 164604 164604 20">20</a> <a href="chatcmd:///command giveitem %t 164605 164605 40">40</a> <a href="chatcmd:///command giveitem %t 164606 164606 50">50</a> <a href="chatcmd:///command giveitem %t 164607 164607 120">120</a> <a href="chatcmd:///command giveitem %t 164608 164608 200">200</a>
<font color="green">Aggression Enhancer </font><a href="chatcmd:///command giveitem %t 83920 83920 1">1</a> <a href="chatcmd:///command giveitem %t 83920 83920 25">25</a> <a href="chatcmd:///command giveitem %t 83920 83920 50">50</a> <a href="chatcmd:///command giveitem %t 83920 83920 100">100</a> <a href="chatcmd:///command giveitem %t 83920 83920 150">150</a> <a href="chatcmd:///command giveitem %t 83919 83919 200">200</a>
<font color="green">Aggression Enhancer (Jealousy Augmented) </font><a href="chatcmd:///command giveitem %t 152029 152029 1">1</a> <a href="chatcmd:///command giveitem %t 152029 152029 25">25</a> <a href="chatcmd:///command giveitem %t 152029 152029 50">50</a> <a href="chatcmd:///command giveitem %t 152029 152029 100">100</a> <a href="chatcmd:///command giveitem %t 152029 152029 150">150</a> <a href="chatcmd:///command giveitem %t 152028 152028 200">200</a>
<font color="green">Bodum-Larga NCU </font><a href="chatcmd:///command giveitem %t 151731 151731 1">1</a> <a href="chatcmd:///command giveitem %t 151732 151732 20">20</a> <a href="chatcmd:///command giveitem %t 151733 151733 40">40</a> <a href="chatcmd:///command giveitem %t 151734 151734 50">50</a> <a href="chatcmd:///command giveitem %t 151735 151735 120">120</a> <a href="chatcmd:///command giveitem %t 151736 151736 200">200</a>
<font color="green">Computer Deck Range Increaser </font><a href="chatcmd:///command giveitem %t 95516 95516 50">50</a> <a href="chatcmd:///command giveitem %t 95516 95516 75">75</a> <a href="chatcmd:///command giveitem %t 95516 95516 100">100</a> <a href="chatcmd:///command giveitem %t 95516 95516 125">125</a> <a href="chatcmd:///command giveitem %t 95516 95516 150">150</a> <a href="chatcmd:///command giveitem %t 95516 95516 175">175</a> <a href="chatcmd:///command giveitem %t 95517 95517 200">200</a>
<font color="green">CPU Upgrade </font><a href="chatcmd:///command giveitem %t 95512 95512 1">1</a> <a href="chatcmd:///command giveitem %t 95512 95512 25">25</a> <a href="chatcmd:///command giveitem %t 95512 95512 50">50</a> <a href="chatcmd:///command giveitem %t 95512 95512 100">100</a> <a href="chatcmd:///command giveitem %t 95512 95512 150">150</a> <a href="chatcmd:///command giveitem %t 95512 95512 199">199</a>
<font color="green">Da Taunter! / Dar Taunter!! </font><a href="chatcmd:///command giveitem %t 158045 158045 1">1</a> <a href="chatcmd:///command giveitem %t 158045 158045 25">25</a> <a href="chatcmd:///command giveitem %t 158045 158045 50">50</a> <a href="chatcmd:///command giveitem %t 158045 158045 100">100</a> <a href="chatcmd:///command giveitem %t 158045 158045 150">150</a> <a href="chatcmd:///command giveitem %t 158046 158046 200">200</a>
<font color="green">Enhanced NCU Chip with Recompiling Core </font><a href="chatcmd:///command giveitem %t 156693 156693 50">50</a> <a href="chatcmd:///command giveitem %t 156694 156694 90">90</a>
<font color="green">Ephemeral Annoyance </font><a href="chatcmd:///command giveitem %t 263254 263254 1">1</a> <a href="chatcmd:///command giveitem %t 263254 263254 25">25</a> <a href="chatcmd:///command giveitem %t 263254 263254 50">50</a> <a href="chatcmd:///command giveitem %t 263254 263254 100">100</a> <a href="chatcmd:///command giveitem %t 263254 263254 150">150</a> <a href="chatcmd:///command giveitem %t 263254 263254 200">200</a> <a href="chatcmd:///command giveitem %t 263254 263254 250">250</a> <a href="chatcmd:///command giveitem %t 263255 263255 300">300</a>
<font color="green">Infused Viral Compiler </font><a href="chatcmd:///command giveitem %t 267912 267912 20">20</a> <a href="chatcmd:///command giveitem %t 267912 267912 50">50</a> <a href="chatcmd:///command giveitem %t 267912 267912 100">100</a> <a href="chatcmd:///command giveitem %t 267912 267912 150">150</a> <a href="chatcmd:///command giveitem %t 267912 267912 200">200</a> <a href="chatcmd:///command giveitem %t 267912 267912 250">250</a> <a href="chatcmd:///command giveitem %t 267913 267913 300">300</a>
<font color="green">Library of Foul Language </font><a href="chatcmd:///command giveitem %t 165112 165112 1">1</a> <a href="chatcmd:///command giveitem %t 165112 165112 25">25</a> <a href="chatcmd:///command giveitem %t 165112 165112 50">50</a> <a href="chatcmd:///command giveitem %t 165112 165112 100">100</a> <a href="chatcmd:///command giveitem %t 165112 165112 150">150</a> <a href="chatcmd:///command giveitem %t 165111 165111 200">200</a>
<font color="green">Liquid Notum NCU TC-03 Prototype </font><a href="chatcmd:///command giveitem %t 215232 215232 160">160</a> <a href="chatcmd:///command giveitem %t 215232 215232 180">180</a> <a href="chatcmd:///command giveitem %t 215233 215233 200">200</a>
<font color="green">Liquid Notum NCU TC-07 Prototype </font><a href="chatcmd:///command giveitem %t 215228 215228 160">160</a> <a href="chatcmd:///command giveitem %t 215228 215228 180">180</a> <a href="chatcmd:///command giveitem %t 215229 215229 200">200</a>
<font color="green">Liquid Notum NCU TC-08 Prototype </font><a href="chatcmd:///command giveitem %t 215226 215226 160">160</a> <a href="chatcmd:///command giveitem %t 215226 215226 180">180</a> <a href="chatcmd:///command giveitem %t 215227 215227 200">200</a>
<font color="green">Liquid Notum NCU TC-10 Prototype </font><a href="chatcmd:///command giveitem %t 215230 215230 160">160</a> <a href="chatcmd:///command giveitem %t 215230 215230 180">180</a> <a href="chatcmd:///command giveitem %t 215231 215231 200">200</a>
<font color="green">Liquid Notum NCU TC-11 Prototype </font><a href="chatcmd:///command giveitem %t 215222 215222 160">160</a> <a href="chatcmd:///command giveitem %t 215222 215222 180">180</a> <a href="chatcmd:///command giveitem %t 215223 215223 200">200</a>
<font color="green">Liquid Notum NCU TC-12 Prototype </font><a href="chatcmd:///command giveitem %t 215224 215224 160">160</a> <a href="chatcmd:///command giveitem %t 215224 215224 180">180</a> <a href="chatcmd:///command giveitem %t 215225 215225 200">200</a>
<font color="green">Modified Aggression Enhancer </font><a href="chatcmd:///command giveitem %t 151692 151692 1">1</a> <a href="chatcmd:///command giveitem %t 151692 151692 25">25</a> <a href="chatcmd:///command giveitem %t 151692 151692 50">50</a> <a href="chatcmd:///command giveitem %t 151692 151692 100">100</a> <a href="chatcmd:///command giveitem %t 151692 151692 150">150</a> <a href="chatcmd:///command giveitem %t 151693 151693 200">200</a>
<font color="green">Morphing Memory </font><a href="chatcmd:///command giveitem %t 202726 202726 1">1</a> <a href="chatcmd:///command giveitem %t 202727 202727 20">20</a> <a href="chatcmd:///command giveitem %t 202728 202728 40">40</a> <a href="chatcmd:///command giveitem %t 202729 202729 50">50</a> <a href="chatcmd:///command giveitem %t 202730 202730 120">120</a> <a href="chatcmd:///command giveitem %t 202731 202731 200">200</a>
<font color="green">Nano Formula Recompiler </font><a href="chatcmd:///command giveitem %t 95518 95518 20">20</a> <a href="chatcmd:///command giveitem %t 95518 95518 40">40</a> <a href="chatcmd:///command giveitem %t 95518 95518 60">60</a> <a href="chatcmd:///command giveitem %t 95518 95518 80">80</a> <a href="chatcmd:///command giveitem %t 95518 95518 100">100</a> <a href="chatcmd:///command giveitem %t 95518 95518 125">125</a> <a href="chatcmd:///command giveitem %t 95518 95518 150">150</a> <a href="chatcmd:///command giveitem %t 95518 95518 175">175</a> <a href="chatcmd:///command giveitem %t 95519 95519 200">200</a>
<font color="green">NCU Coolant Sink </font><a href="chatcmd:///command giveitem %t 95514 95514 10">10</a> <a href="chatcmd:///command giveitem %t 95514 95514 25">25</a> <a href="chatcmd:///command giveitem %t 95514 95514 50">50</a> <a href="chatcmd:///command giveitem %t 95514 95514 75">75</a> <a href="chatcmd:///command giveitem %t 95514 95514 100">100</a> <a href="chatcmd:///command giveitem %t 95514 95514 125">125</a> <a href="chatcmd:///command giveitem %t 95514 95514 150">150</a> <a href="chatcmd:///command giveitem %t 95514 95514 175">175</a> <a href="chatcmd:///command giveitem %t 95515 95515 200">200</a>
<font color="green">NCU Robot Reed </font><a href="chatcmd:///command giveitem %t 151906 151906 1">1</a> <a href="chatcmd:///command giveitem %t 152219 152219 20">20</a> <a href="chatcmd:///command giveitem %t 151908 151908 40">40</a> <a href="chatcmd:///command giveitem %t 151909 151909 50">50</a> <a href="chatcmd:///command giveitem %t 151910 151910 120">120</a> <a href="chatcmd:///command giveitem %t 151911 151911 200">200</a>
<font color="green">Pre-configured NCU - Electrical Engineering </font><a href="chatcmd:///command giveitem %t 151672 151672 1">1</a> <a href="chatcmd:///command giveitem %t 151673 151673 20">20</a> <a href="chatcmd:///command giveitem %t 151674 151674 40">40</a> <a href="chatcmd:///command giveitem %t 151675 151675 50">50</a> <a href="chatcmd:///command giveitem %t 151676 151676 120">120</a> <a href="chatcmd:///command giveitem %t 151677 151677 200">200</a>
<font color="green">Safeguarded NCU Memory Unit </font><a href="chatcmd:///command giveitem %t 168833 168833 1">1</a> <a href="chatcmd:///command giveitem %t 168834 168834 20">20</a> <a href="chatcmd:///command giveitem %t 168835 168835 40">40</a> <a href="chatcmd:///command giveitem %t 168836 168836 50">50</a> <a href="chatcmd:///command giveitem %t 168837 168837 120">120</a> <a href="chatcmd:///command giveitem %t 168838 168838 200">200</a>
<font color="green">Velocity Tin </font><a href="chatcmd:///command giveitem %t 152267 152267 1">1</a> <a href="chatcmd:///command giveitem %t 152267 152267 25">25</a> <a href="chatcmd:///command giveitem %t 152267 152267 50">50</a> <a href="chatcmd:///command giveitem %t 152267 152267 100">100</a> <a href="chatcmd:///command giveitem %t 152786 152786 150">150</a>
<font color="green">Viral Compiler </font><a href="chatcmd:///command giveitem %t 251222 251222 20">20</a> <a href="chatcmd:///command giveitem %t 251222 251222 50">50</a> <a href="chatcmd:///command giveitem %t 251222 251222 100">100</a> <a href="chatcmd:///command giveitem %t 251222 251222 150">150</a> <a href="chatcmd:///command giveitem %t 251222 251222 200">200</a> <a href="chatcmd:///command giveitem %t 251222 251222 250">250</a> <a href="chatcmd:///command giveitem %t 251223 251223 300">300</a>
<font color="green">Viral Memory Storage Unit </font><a href="chatcmd:///command giveitem %t 251242 251242 1">1</a> <a href="chatcmd:///command giveitem %t 251242 251242 25">25</a> <a href="chatcmd:///command giveitem %t 251242 251242 50">50</a> <a href="chatcmd:///command giveitem %t 251242 251242 100">100</a> <a href="chatcmd:///command giveitem %t 251243 251243 150">150</a> <a href="chatcmd:///command giveitem %t 251243 251243 200">200</a> <a href="chatcmd:///command giveitem %t 251243 251243 250">250</a> <a href="chatcmd:///command giveitem %t 251254 251254 300">300</a>

###

<a href="chatcmd:///command giveitem %t 152784 152784 100">A Velocity Tin</a>
<a href="chatcmd:///command giveitem %t 246218 246218 100">Bundle of Twisting Nerves</a>
<a href="chatcmd:///command giveitem %t 244558 244558 250">Cancer's Time-Saving Memory</a> 
<a href="chatcmd:///command giveitem %t 244561 244561 250">Capricorn's Reliable Memory</a>
<a href="chatcmd:///command giveitem %t 274971 274971 1">Dark Dreams</a> 
<a href="chatcmd:///command giveitem %t 204602 204602 1">Dark Memories</a>
<a href="chatcmd:///command giveitem %t 269985 269985 200">Enhanced Safeguarded NCU Memory Unit (Int/Psy)</a>
<a href="chatcmd:///command giveitem %t 269986 269986 200">Enhanced Safeguarded NCU Memory Unit (Str/Sta)</a>
<a href="chatcmd:///command giveitem %t 269987 269987 200">Enhanced Safeguarded NCU Memory Unit (Agi/Sen)</a>
<a href="chatcmd:///command giveitem %t 244575 244575 250">Enthusiastic Spirit Helper of the Leo</a>
<a href="chatcmd:///command giveitem %t 95513 95513 200">Hardcore CPU Upgrade</a>
<a href="chatcmd:///command giveitem %t 244358 244358 250">Intuitive Memory of the Aquarius</a>
<a href="chatcmd:///command giveitem %t 204603 204603 1">Memory Loop</a>
<a href="chatcmd:///command giveitem %t 206018 206018 1">Mnemonic Fragment</a>
<a href="chatcmd:///command giveitem %t 158762 158762 1">Nanobot Factory Unit</a>
<a href="chatcmd:///command giveitem %t 246277 246277 100">Problem Avoiding Device</a>
<a href="chatcmd:///command giveitem %t 246278 246278 100">Problem Seeking Device</a>
<a href="chatcmd:///command giveitem %t 246276 246276 100">Problem Solving Device</a>
<a href="chatcmd:///command giveitem %t 269990 269990 200">Protected Safeguarded NCU Memory Unit</a>
<a href="chatcmd:///command giveitem %t 244643 244643 250">Sagittarius's Hearty Spirit Helper</a>
<a href="chatcmd:///command giveitem %t 207253 207253 220">Standard Juggernaut Nano Containment Module</a>
<a href="chatcmd:///command giveitem %t 244658 244658 250">Taurus' Spirit of Reflection</a>
<a href="chatcmd:///command giveitem %t 244663 244663 250">Virgo's Practical Spirit Helper</a>
<a href="chatcmd:///command giveitem %t 207260 207260 50">Waste Collector NCU</a>
<a href="chatcmd:///command giveitem %t 244579 244579 250">Well Balanced Spirit Helper of Libra</a>

Superior Shields
############

<a href="chatcmd:///command giveitem %t 162387 162387 200">Superior Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 162389 162389 200">Superior Chemical Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 158020 158020 200">Superior Chemical Deflection Shield</a>
<a href="chatcmd:///command giveitem %t 162390 162390 200">Superior Cold Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 158036 158036 200">Superior Cold Deflection Shield</a>
<a href="chatcmd:///command giveitem %t 70252 70252 200">Superior Deflection Shield</a>
<a href="chatcmd:///command giveitem %t 162391 162391 200">Superior Energy Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 158039 158039 200">Superior Energy Deflection Shield</a>
<a href="chatcmd:///command giveitem %t 162393 162393 200">Superior Fire Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 158021 158021 200">Superior Fire Deflection Shield</a>
<a href="chatcmd:///command giveitem %t 162395 162395 200">Superior Poison Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 162396 162396 200">Superior Radiation Adventure Shield</a>
<a href="chatcmd:///command giveitem %t 158034 158034 200">Superior Radiation Deflection Shield</a>
